@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    max-width: 100%;
    padding: 2rem;
    color: #424436;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    gap: 2rem;
}

.lineButtonCont {
    display: flex;
    align-items: center;
    flex-grow: 1;

}

h2 {
    font-size: 4rem;
    font-weight: 700;
}

.line {
    border: 1px solid #DDDDDD;
    height: 1px;
    flex-grow: 1;
}

button {
        width: 8rem;
        height: 2rem;
        font-size: 1rem;
        align-self: center;
        color: #8B8B8B;
        border: #DDDDDD 1px solid;
        border-radius: 0.3rem;
        background-color: transparent;
}

.categoriesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}


