.categoryCard {
    max-width: 100%;
    max-height: 100%;
}

.categoryCard > img {
    height: 90%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

p {
    text-align: center;
    color: #424436;
    font-size: 1.25rem;
    padding-top: 0.5rem;
}



@media (max-width: 1000px) {
    
    .categoryCard {
        width: 354px;
        height: 292px;
    }
}

@media (max-width: 768px) {
    
    .categoryCard {
        width: 210px;
        height: 289px;
    }
}


@media (max-width: 480px) {
    .categoryCard {
        width: 320px;
        height: 255px;
    }

}