.categoryCard > img {
    height: 22rem;
    width: 19rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.categoryCard > img:nth-child(1) {
    height: 22rem;
    width: 19rem;
}

p {
    text-align: center;
    color: #424436;
    font-size: 1.25rem;
}